<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1>
<p>Added by: {{ item.created_by.username }}</p>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price:</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Store:</strong> {{ item.store.title }}</p>

<form action="{{ url_for('main.add_to_shopping_list', item_id=item.id) }}" method="post">
    <input type="submit" value="Add to Shopping List">
</form>

<h2>Edit Item</h2>

<form method="POST">
    <fieldset>

        {% include '_grocery_item_form.html' %}

        <div>
            <input type="submit" value="Update">
        </div>
    </fieldset>
</form>

{% endblock %}