{% extends 'base.html' %}
{% block content %}

<h1>Item - {{ item.name }}</h1>

<p><img src="{{ item.photo_url }}" width="250px" height="250px"></p>

<p><strong>Price:</strong> {{ item.price }}</p>

<p><strong>Category:</strong> {{ item.category }}</p>

<p><strong>Store:</strong> {{ item.store.title }}</p>


<h2>Edit Item</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <div>
            {{ form.name.label }} {{ form.name }}
        </div>
        <div>
            {{ form.price.label }} {{ form.price }}
        </div>
        <div>
            {{ form.category.label }} {{ form.category }}
        </div>
        <div>
            {{ form.photo_url.label }} {{ form.photo_url }}
        </div>
        <div>
            {{ form.store.label }} {{ form.store }}
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </fieldset>
</form>

{% endblock %}